.Title {
	display: flex;
	justify-content: center;
	font-size: 30px;
}
.Left {
	width: 40%;
}
.Right {
	width: 60%;
}
.Movie img {
	height: 300px;
	width: 250px;
}
.SeatCount {
	padding: 15px;
	display: flex;
	flex-direction: row;
}
.Add1,
.Add2 {
	border-radius: 0 20px 20px 0;
	border: none;
	cursor: pointer;
	background-color: rgb(0, 187, 56);
}
.Add1:hover,
.Add2:hover {
	background-color: rgb(14, 150, 54);
}
.Remove1,
.Remove2 {
	border-radius: 20px 0 0 20px;
	border: none;
	cursor: pointer;
	background-color: rgb(255, 106, 101);
}
.Remove1:hover,
.Remove2:hover {
	background-color: rgb(253, 68, 62);
}
.Btn {
	display: flex;
	flex-direction: row;
}
.Btn div {
	height: 40px;
	background-color: orange;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.Footer {
	margin-top: 60px;
	display: flex;
	justify-content: flex-end;
}
.Footer Button {
	margin-left: 50px;
}
